{% extends 'nav.html' %}
{% load static %}
{% block body %}
<div class="banner_main">
    <h1 class="banner_taital" style="color: rgb(62, 62, 221);">Presenting <br>Federal 24 7</h1>
    <h1 class="banner_text" style="font-size: 25px;">Now open a savings account of your <br> choice anytime without visiting the Bank.</h1>
    <div class="btn_main">
      <div class="more_bt" style="width: 300px;"><a href="{% url 'bankapp:forms' %}">Open an account</a></div>
    </div>
  </div>
  </div>
  <div class="header_right float-end" style="position: relative;">
    <img src="{% static 'images/application.png' %}" class="banner_img" style="position: absolute; top: -450px;">
  </div>
  </div>
  <!--header section end -->
  <!--about section start -->
  <div class="services_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="services_taital">Stay connected enjoy peace of mind</h1>
          <p class="services_text">Download the FED One Mobile App and simplify your banking. Discover quick, simple and
            convenient way to take command of your bank account, on your mobile phone.</p>
          <div class="moremore_bt"><a href="#">Download</a></div>
        </div>
        <div class="col-md-4">
          <div><img src="{% static 'images/img-1.png' %}" class="image_1"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}