{% extends 'nav.html' %}
{% load static %}
{% block body %}
<div class="banner_main">
  <h1 class="banner_taital">Your perfect <br>Banking <br> Partner</h1>
  <p class="banner_text">With pre-approved personal loans available through WhatsApp, our customers are just <br> a few
    clicks away from turning their aspirations into reality</p>
  <div class="btn_main">
    <div class="more_bt"><a href="#">Read More </a></div>
    <div class="contact_bt"><a href="#">Contact Us</a></div>
  </div>
</div>
</div>
<div class="header_right float-end" style="position: relative;">
  <img src="{% static 'images/banner-img.png' %}" class="banner_img" style="position: absolute; top: -600px;">
</div>
</div>
<!--header section end -->
<!--about section start -->
<div class="services_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="services_taital">Stay connected enjoy peace of mind</h1>
        <p class="services_text">Download the FED One Mobile App and simplify your banking. Discover quick, simple and
          convenient way to take command of your bank account, on your mobile phone.</p>
        <div class="moremore_bt"><a href="#">Download</a></div>
      </div>
      <div class="col-md-4">
        <div><img src="{% static 'images/img-1.png' %}" class="image_1"></div>
      </div>
    </div>
  </div>
</div>
<!--about section end -->
<!--services section start -->
<div class="what_we_do_section layout_padding">
  <div class="container">
    <h1 class="what_taital">WHAT WE DO</h1>
    <p class="what_text">With Federal Bank digital personal loans, you can get the funds you need anywhere and anytime
      with no manual documentation.
    </p>
    <div class="what_we_do_section_2">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="box_main">
            <div class="icon_1"><img src="{% static 'images/icon-1.png' %}"></div>
            <h3 class="accounting_text">Pay</h3>
            <p class="lorem_text">Lorem Ipsum is simply dummy text of the printing and</p>
            <div class="moremore_bt_1"><a href="#">Read More </a></div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="box_main active">
            <div class="icon_1"><img src="{% static 'images/icon-2.png' %}"></div>
            <h3 class="accounting_text">Borrow</h3>
            <p class="lorem_text">Lorem Ipsum is simply dummy text of the printing and</p>
            <div class="moremore_bt_1"><a href="#">Read More </a></div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="box_main">
            <div class="icon_1"><img src="{% static 'images/icon-3.png' %}"></div>
            <h3 class="accounting_text">Investment</h3>
            <p class="lorem_text">Lorem Ipsum is simply dummy text of the printing and</p>
            <div class="moremore_bt_1"><a href="#">Read More </a></div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="box_main">
            <div class="icon_1"><img src="{% static 'images/icon-4.png' %}"></div>
            <h3 class="accounting_text">Insure</h3>
            <p class="lorem_text">Lorem Ipsum is simply dummy text of the printing and</p>
            <div class="moremore_bt_1"><a href="#">Read More </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--services section end -->
<!--project section start -->
<div class="project_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="project_main">
          <h1 class="services_taital">Our projects</h1>
          <p class="services_text">It is a long established fact that a reader will be distracted by the readable
            content of a </p>
          <div class="moremore_bt"><a href="#">Read More </a></div>
          <div class="image_6"><img src="{% static 'images/img-6.png' %}"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="images_main">
          <div class="images_left">
            <div class="container_1">
              <img src="{% static 'images/img-2.png' %}" alt="Avatar" class="image" style="width:100%">
              <div class="middle">
                <div class="text"><img src="{% static 'images/search-icon.png' %}"></div>
                <h2 class="fact_text">Established Fact</h2>
              </div>
            </div>
            <div class="container_1">
              <img src="{% static 'images/img-3.png' %}" alt="Avatar" class="image" style="width:100%">
              <div class="middle">
                <div class="text"><img src="{% static 'images/search-icon.png' %}"></div>
                <h2 class="fact_text">Established Fact</h2>
              </div>
            </div>
          </div>
          <div class="images_right">
            <div class="container_1">
              <img src="{% static 'images/img-4.png' %}" alt="Avatar" class="image" style="width:100%">
              <div class="middle">
                <div class="text"><img src="{% static 'images/search-icon.png' %}"></div>
                <h2 class="fact_text">Established Fact</h2>
              </div>
            </div>
            <div class="container_1">
              <img src="{% static 'images/img-5.png' %}" alt="Avatar" class="image" style="width:100%">
              <div class="middle">
                <div class="text"><img src="{% static 'images/search-icon.png' %}"></div>
                <h2 class="fact_text">Established Fact</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="project_section_2 layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="icon_1"><img src="{% static 'images/icon-3.png' %}"></div>
        <h3 class="accounting_text_1">1000+</h3>
        <p class="yers_text">Years of Business</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="icon_1"><img src="{% static 'images/icon-4.png' %}"></div>
        <h3 class="accounting_text_1">20000+</h3>
        <p class="yers_text">Projects Delivered</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="icon_1"><img src="{% static 'images/icon-2.png' %}"></div>
        <h3 class="accounting_text_1">10000+</h3>
        <p class="yers_text">Satisfied Customers</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="icon_1"><img src="{% static 'images/icon-1.png' %}"></div>
        <h3 class="accounting_text_1">1500+</h3>
        <p class="yers_text">Services</p>
      </div>
    </div>
  </div>
</div>
<!--project section end -->
<!--team section start -->
<div class="team_section layout_padding">
  <div class="container">
    <h1 class="what_taital">Our Team and experts</h1>
    <p class="what_text_1">It is a long established fact that a reader will be distracted by the readable content of a
    </p>
    <div class="team_section_2 layout_padding">
      <div class="row">
        <div class="col-sm-3">
          <img src="{% static 'images/img-7.png' %}" class="image_7">
          <p class="readable_text">Nabeel</p>
          <p class="readable_text_1">Follow Us</p>
          <div class="social_icon">
            <ul>
              <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
              <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
              <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <img src="{% static 'images/img-8.png' %}" class="image_7">
          <p class="readable_text">Raziq</p>
          <p class="readable_text_1">Follow Us</p>
          <div class="social_icon">
            <ul>
              <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
              <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
              <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <img src="{% static 'images/img-9.png' %}" class="image_7">
          <p class="readable_text">Smith</p>
          <p class="readable_text_1">Follow Us</p>
          <div class="social_icon">
            <ul>
              <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
              <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
              <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <img src="{% static 'images/img-10.png' %}" class="image_7">
          <p class="readable_text">Joe</p>
          <p class="readable_text_1">Follow Us</p>
          <div class="social_icon">
            <ul>
              <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
              <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
              <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--team section end -->
<!--client section start -->
<div class="client_section layout_padding">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h1 class="what_taital">what is syas our clients</h1>
          <div class="client_section_2 layout_padding">
            <ul>
              <li><img src="{% static 'images/round-1.png' %}" class="round_1"></li>
              <li><img src="{% static 'images/img-11.png' %}" class="image_11"></li>
              <li><img src="{% static 'images/round-2.png' %}" class="round_2"></li>
            </ul>
            <p class="dummy_text">It is a long established fact that a reader will be distracted by the readable
              content of a page when looking at its layout. The point of using Lorem</p>
          </div>
        </div>
        <div class="carousel-item">
          <h1 class="what_taital">what is syas our clients</h1>
          <div class="client_section_2 layout_padding">
            <ul>
              <li><img src="{% static 'images/round-1.png' %}" class="round_1"></li>
              <li><img src="{% static 'images/img-11.png' %}" class="image_11"></li>
              <li><img src="{% static 'images/round-2.png' %}" class="round_2"></li>
            </ul>
            <p class="dummy_text">It is a long established fact that a reader will be distracted by the readable
              content of a page when looking at its layout. The point of using Lorem</p>
          </div>
        </div>
        <div class="carousel-item">
          <h1 class="what_taital">what is syas our clients</h1>
          <div class="client_section_2 layout_padding">
            <ul>
              <li><img src="{% static 'images/round-1.png' %}" class="round_1"></li>
              <li><img src="{% static 'images/img-11.png' %}" class="image_11"></li>
              <li><img src="{% static 'images/round-2.png' %}" class="round_2"></li>
            </ul>
            <p class="dummy_text">It is a long established fact that a reader will be distracted by the readable
              content of a page when looking at its layout. The point of using Lorem</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--client section end -->
<!--footer section start -->


<!--footer section end -->
<!-- Javascript files-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'js/plugin.js' %}"></script>
<!-- sidebar -->
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<!-- javascript -->
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

{% endblock %}