.check{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.check input{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    background-color: #fff;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 20px;
    padding: auto;
}

.check label{
    cursor: pointer;
}